/* Dashed */
hr.dashed {
    border-top: 3px dashed #bbb;
}

/* Dotted */
hr.dotted {
    border-top: 3px dotted #bbb;
}

/* Solid */
hr.solid {
    border-top: 2px solid #bbb;
    width: 70%;
}

/* Rounded */
hr.rounded {
    border-top: 8px solid #bbb;
    border-radius: 5px;
}