.image-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

@media (max-width: 650px) {
    .image-center {
        display: none;
    }
}

.handle-margin {
    padding-left: 175px;
    padding-right: 175px;
}

@media all and (max-width: 1175px) {
    .handle-margin {
        padding: 3px 18px;
    }
}